{% extends 'base.html' %}

{% block title %}RandomGames Store{% endblock title %}

{% block content %}
    <h1>RandomGames Store</h1>

    <!-- Baldur's Gate 3 -->
    <div class="game-item">
        <h5>Name:</h5>
        <p>Baldur's Gate 3</p>
        <h5>Price:</h5>
        <p>$59.99</p>
        <h5>Description:</h5>
        <p>A story-rich, next-generation RPG set in the Dungeons & Dragons universe.</p>
    </div>

    <!-- Hogwarts Legacy -->
    <div class="game-item">
        <h5>Name:</h5>
        <p>Hogwarts Legacy</p>
        <h5>Price:</h5>
        <p>$69.99</p>
        <h5>Description:</h5>
        <p>Open-world action RPG set in the wizarding world of Harry Potter.</p>
    </div>

    <!-- Call of Duty: Modern Warfare 2 -->
    <div class="game-item">
        <h5>Name:</h5>
        <p>Call of Duty: Modern Warfare 2</p>
        <h5>Price:</h5>
        <p>$49.99</p>
        <h5>Description:</h5>
        <p>A thrilling, fast-paced military first-person shooter with intense multiplayer modes.</p>
    </div>

    <div class="info-section">
        <h5>Name:</h5>
        <p>Aliyah Nahisa Sugiana</p>
        <h5>Class:</h5>
        <p>PBP B</p>
    </div>

    {% if not game_entries %}
    <p>Belum ada game yang tersedia di toko.</p>
    {% else %}
    <table>
      <tr>
        <th>Game Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
      {% for games_entry in game_entries %}
      <tr>
        <td>{{ games_entry.name }}</td>
        <td>{{ games_entry.price }}</td>
        <td>{{ games_entry.description }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <br />

    <a href="{% url 'main:create_games_entry' %}">
      <button>Add New Games Entry</button>
    </a>
{% endblock content %}
